X-Repolib-Name: ubuntu
Types: deb deb-src
#URIs: http://au.archive.ubuntu.com/ubuntu
URIs: http://ubuntu.mirror.digitalpacific.com.au/archive
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates {{ ansible_distribution_release }}-backports {{ ansible_distribution_release }}-security
Components: main restricted multiverse universe
Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
