---
v2:
  metadata:
    title: "slurm-cluster"
  login:
    host: "slurm-login"
  job:
    adapter: "slurm"
    cluster: "slurm-cluster"
    #bin: "/path/to/slurm/bin"
    #conf: "/path/to/slurm.conf"
    # bin_overrides:
      # sbatch: "/usr/local/bin/sbatch"
      # squeue: ""
      # scontrol: ""
      # scancel: ""
    copy_environment: false
  batch_connect:
    vnc:
      script_wrapper: |
        export PATH="/opt/TurboVNC/bin:$PATH"
        export WEBSOCKIFY_CMD="/usr/bin/websockify"
        %s
      set_host: "host=$(hostname -A | awk '{print $1}')"
