X-Repolib-Name: KDE neon noble user
Types: deb deb-src
URIs: http://archive.neon.kde.org/user
Suites: {{ ansible_distribution_release }}
Components: main
Signed-By: /etc/apt/keyrings/neon-archive-keyring.asc
